{# Custom Sphinx layout template examples #}
{# For comprehensive layout customization, see: #}
{# https://www.sphinx-doc.org/en/master/usage/theming.html#templating #}
{# https://www.sphinx-doc.org/en/master/usage/theming.html#block-names-and-arguments #} 