{# Custom Sphinx page template examples #}
{# For comprehensive page customization, see: #}
{# https://www.sphinx-doc.org/en/master/usage/theming.html#templating #}
{# https://www.sphinx-doc.org/en/master/usage/theming.html#block-names-and-arguments #} 